<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, 
      placeholder: 'John Smith', required: true %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, value: @lead&.formatted_phone(false), 
      placeholder: '2125550000', required: true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, 
      placeholder: 'j.smith@example.com', required: true %>
  </div>

  <%= form.hidden_field :ga_client_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
